h1{
    color:rgb(195, 43, 226) !important;
}
body{
    background-color: rgb(255, 255, 255);
}
.bg-green{
    background-color: green;
}
.font-50:hover{
    font-size: 100px;
    background-color: black;
    

}
body:hover{
    background-color: rgb(255, 255, 255);

}
img:hover{
    border: 5px black solid;
    transform: rotate(45deg);
    
}